@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');

header
{
    
    float: right;
    width: 100%;
 
}
.title{
   
    float: right; 
    font-size: 40px;
    font-family: "Noto Nastaliq Urdu";
    
}


header a{
    color: #000;
    font-size: 30px;
    font-family: "Noto Nastaliq Urdu";
    text-decoration: none;
}
header a:hover{
    color: #ffff;
}
header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;

}

header nav{
    float: left;
}

.parg{
    float: right;
    font-size: 30px;
    text-align: center;
   
}
h2{
    float: right;
}

.his img{
float: right;
width: 40%;
}
footer{
    
    text-align: center;
    margin-top: 80%;
    background-color: #2a9d8f;
    font-size: 15px;
    font-family: "Noto Nastaliq Urdu";
 
}