.bien{
    margin-top:15%;
    border: 5px solid aqua;
    padding:90px;
    border-radius: 18px;
    background-color: #264653;
}

.txt{
margin: 30px;
padding:10px;
border-radius: 8px;

}

.sbt{
    margin-left: 40px;
    padding: 20px;
    border-radius: 8px;
    background-color: blue;
     width:100px;

}
